@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-nav: #FFFFFF;
  --color-body: #F8F9FA;
  --color-text: #2D3748;
  --color-accent-primary: #3B82F6;
  --color-accent-secondary: #10B981;
  --color-subtle: #E2E8F0;
}

.dark {
  --color-nav: #000000;
  --color-body: #000000;
  --color-text: #FFFFFF;
  --color-accent-primary: #FF9900;
  --color-accent-secondary: #4CAF50;
  --color-subtle: #ca9a9a3e;
}

body {
  color: var(--color-text);
  background-color: var(--color-body);
}

@layer utilities {
  .text-balance {
    overflow-wrap: break-word;
  }
}